<div class="tasks__wrapper">
  <div>
    <button mat-raised-button class="tasks__add" (click)="createTask()">
      <mat-icon>post_add</mat-icon>
      <span>Create new task</span>
    </button>
  </div>

  <div class="tasks__table">
    <table mat-table [dataSource]="(dataSource | async)" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Task Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Task Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Project Name </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comments </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="editTask(element)"><mat-icon>edit</mat-icon></button> </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="deleteTask(element.id)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
